<div id="header1">
    <a id="header1_1" routerLink='/home'>CAROUSEL</a>
    <hr color="white" size="1" width="100%" />
    <div class="rovno3">
        <ul class="rovno2">
            <li class="rovnoli"><a id="header2_2" routerLink='/home' routerLinkActive #rla="routerLinkActive">Головна {{ rla.isActive ? '' : ''}}</a></li>
            <li class="rovnoli"><a id="header2_2" routerLink="/previous-parties">Попередні події</a></li>
            <li class="rovnoli"><a id="header2_2" href="https://2event.com/uk/events/1833456" target="_blank">Квитки</a></li>
            <li class="rovnoli"><a id="header2_2" routerLink="contacts">Контакти</a></li>
            <li class="rovnoli"><a id="header2_2" routerLink="bootstrap">Bootstrap</a></li>
        </ul>
        <ul class="rovno2">
            <li><a class="telega" href="https://t.me/joinchat/AAAAAET4uBtXZo4__GWBeQ"><img class="rovnoliimg"
                        src="../../assets/img/telegram.png" alt="telega" width="25px"></a></li>
            <li><a class="inst" href="https://www.instagram.com/carouselpartynight/"><img class="rovnoliimg"
                        src="../../assets/img/inst.png" alt="inst" width="25px"></a></li>
        </ul>
    </div>
</div>