<div class="previous_parties">
  <div>
      <ul>
          <li>
              <a class="carousel-link" routerLink="/previous-parties/carousel1"><img class="carousel-img" src="../../assets/img/carousel-1.jpg" alt="Carousel_1" width="600px"></a>
          </li>
      </ul>
  </div>
  <div>
      <ul>
          <li>
              <a class="carousel-link" routerLink="/previous-parties/carousel2"><img class="carousel-img" src="../../assets/img/carousel-2.jpg" alt="Carousel_2" width="600px"></a>
          </li>
      </ul>
  </div>
</div>