@import '~@angular/material/prebuilt-themes/indigo-pink.css';

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: black;
    -webkit-animation: fade-in 1.5s linear;
    -moz-animation: fade-in 1.5s linear;
    -o-animation: fade-in 1.5s linear;
    animation: fade-in 1.5s linear;
}

a {
    text-decoration: none;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rovno {
    width: 1400px;
    margin: 0 auto;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}