<p class="img1"><img src="../../assets/img/carousel logo final.png" alt="error" width="1000px"></p>

<div class="centreabovebutton">
    <h3 id="abovebutton1">Carousel</h3>
    <p id="abovebutton2">Опис</p>
    <p id="abovebutton2">Лайнап</p>
    <p id="abovebutton2">Дата,Час</p>
    <p id="abovebutton2">Місце проведення</p>
</div>

<div class="centrebutton">
    <ul>
        <li><a routerLink="/save-the-date" class="button">Save the date</a><br></li>
    </ul>
</div>

<div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5146.065458029519!2d24.02858494950926!3d49.84184254996491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add72f9bc6a89%3A0xf9783fecb4fecf1f!2z0JvRjNCy0L7QstGB0LrQuNC5INC90LDRhtC40L7QvdCw0LvRjNC90YvQuSDQsNC60LDQtNC10LzQuNGH0LXRgdC60LjQuSDRgtC10LDRgtGAINC-0L_QtdGA0Ysg0Lgg0LHQsNC70LXRgtCwINC40LzQtdC90Lgg0KHQvtC70L7QvNC40Lgg0JrRgNGD0YjQtdC70YzQvdC40YbQutC-0Lk!5e0!3m2!1sru!2sua!4v1582569082156!5m2!1sru!2sua"
        width="900" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>

<p class="end">©2020 Carousel</p>